In [195]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [196]:
filename = 'train.csv'
#testfile = 'test.csv'

In [197]:
df = pd.read_csv(filename)
#tfd = pd.read_csv(testfile)

In [198]:
df.head(10)

,id,b0,b1,b2,b3,b4,b5,b6,b7,b8,...,b93,time,a0,a1,a2,a3,a4,a5,a6,label
0,1,9.67,0.70,0.0,1023.28,12687.0,0.00,4.0,77.07,121.12,...,42.0,0,1,0,0,0,0,0,0,26.92
1,2,16.75,0.00,0.0,311.77,15420.0,0.00,4.0,100.72,198.03,...,40.0,0,0,1,0,0,0,0,0,40.25
2,3,14.93,0.00,0.0,233.10,13739.0,0.47,4.0,33.70,186.82,...,39.0,0,0,0,1,0,0,0,0,24.20
3,4,12.00,0.00,0.0,315.02,12290.0,0.20,4.0,29.63,122.65,...,46.0,0,0,0,0,1,0,0,0,26.80
4,5,17.00,0.00,0.0,208.07,14761.0,0.00,4.0,34.20,182.57,...,39.0,0,0,0,0,0,1,0,0,19.63
5,6,9.05,0.00,0.0,38.20,7234.0,0.00,4.0,0.00,98.10,...,37.0,0,0,0,0,0,0,1,0,5.50
6,7,15.78,0.00,0.0,377.23,11207.0,0.00,4.0,31.72,205.15,...,39.0,0,0,0,0,0,0,0,1,24.93
7,8,0.60,0.65,0.0,290.35,12687.0,0.00,6.0,84.52,121.58,...,42.0,1,1,0,0,0,0,0,0,19.27
8,9,2.18,0.00,0.0,341.53,15420.0,0.00,5.0,116.70,188.20,...,40.0,1,0,1,0,0,0,0,0,23.92
9,10,3.15,0.00,0.0,249.85,13739.0,0.13,5.0,29.67,172.90,...,39.0,1,0,0,1,0,0,0,0,22.77

In [199]:
df.isnull().any().any()

False

In [200]:
df_dtype_nunique = pd.concat([df.dtypes, df.nunique()],axis=1)
df_dtype_nunique.columns = ["dtype","unique"]
df_dtype_nunique

         dtype  unique
id       int64  161168
b0     float64    1378
b1     float64     501
b2     float64       4
b3     float64   31632
...        ...     ...
a3       int64       2
a4       int64       2
a5       int64       2
a6       int64       2
label  float64    4554

[104 rows x 2 columns]

In [201]:
df['label'].unique().size

4554

In [202]:
# Compute the correlation matrix
corr = df.corr()
df

,id,b0,b1,b2,b3,b4,b5,b6,b7,b8,...,b93,time,a0,a1,a2,a3,a4,a5,a6,label
0,1,9.67,0.7,0.0,1023.28,12687.0,0.00,4.0,77.07,121.12,...,42.0,0,1,0,0,0,0,0,0,26.92
1,2,16.75,0.0,0.0,311.77,15420.0,0.00,4.0,100.72,198.03,...,40.0,0,0,1,0,0,0,0,0,40.25
2,3,14.93,0.0,0.0,233.10,13739.0,0.47,4.0,33.70,186.82,...,39.0,0,0,0,1,0,0,0,0,24.20
3,4,12.00,0.0,0.0,315.02,12290.0,0.20,4.0,29.63,122.65,...,46.0,0,0,0,0,1,0,0,0,26.80
4,5,17.00,0.0,0.0,208.07,14761.0,0.00,4.0,34.20,182.57,...,39.0,0,0,0,0,0,1,0,0,19.63
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161163,161164,0.00,0.0,0.0,0.00,14140.0,0.00,6.0,0.00,0.00,...,39.0,23023,0,0,1,0,0,0,0,0.00
161164,161165,0.00,0.0,0.0,0.00,12485.0,0.00,5.0,0.00,0.00,...,44.0,23023,0,0,0,1,0,0,0,0.00
161165,161166,0.00,0.0,0.0,0.00,14166.0,0.00,5.0,0.00,0.00,...,37.0,23023,0,0,0,0,1,0,0,0.00
161166,161167,0.00,0.0,0.0,0.00,8134.0,0.00,5.0,0.00,0.00,...,37.0,23023,0,0,0,0,0,1,0,0.00
161167,161168,0.00,0.0,0.0,0.00,11582.0,0.00,5.0,0.00,0.00,...,39.0,23023,0,0,0,0,0,0,1,0.00

In [203]:
par=5
categorical_features=list()
numerical_features=list()
for column in df.drop(columns=['id','label']):
    if ((df[column]-df[column].astype(int))==0.0).all() and df[column].unique().size<=par:
        categorical_features.append(column)
    else:
        numerical_features.append(column)
            
print(categorical_features)
print(numerical_features)

['b10', 'b12', 'b25', 'b26', 'b28', 'b33', 'b41', 'b42', 'b57', 'b61', 'b71', 'b81', 'b83', 'b89', 'a0', 'a1', 'a2', 'a3', 'a4', 'a5', 'a6']
['b0', 'b1', 'b2', 'b3', 'b4', 'b5', 'b6', 'b7', 'b8', 'b9', 'b11', 'b13', 'b14', 'b15', 'b16', 'b17', 'b18', 'b19', 'b20', 'b21', 'b22', 'b23', 'b24', 'b27', 'b29', 'b30', 'b31', 'b32', 'b34', 'b35', 'b36', 'b37', 'b38', 'b39', 'b40', 'b43', 'b44', 'b45', 'b46', 'b47', 'b48', 'b49', 'b50', 'b51', 'b52', 'b53', 'b54', 'b55', 'b56', 'b58', 'b59', 'b60', 'b62', 'b63', 'b64', 'b65', 'b66', 'b67', 'b68', 'b69', 'b70', 'b72', 'b73', 'b74', 'b75', 'b76', 'b77', 'b78', 'b79', 'b80', 'b82', 'b84', 'b85', 'b86', 'b87', 'b88', 'b90', 'b91', 'b92', 'b93', 'time']

In [204]:
from sklearn.model_selection import train_test_split

X=df.drop(columns=['id','label'])
X_train,X_val,y_train,y_val = train_test_split(X,df['label'],test_size=0.20,random_state=42)  
#X_final_test = tdf.drop(columns=['id'])
X.columns

Index(['b0', 'b1', 'b2', 'b3', 'b4', 'b5', 'b6', 'b7', 'b8', 'b9',
       ...
       'b92', 'b93', 'time', 'a0', 'a1', 'a2', 'a3', 'a4', 'a5', 'a6'],
      dtype='object', length=102)

In [210]:
from sklearn.preprocessing import RobustScaler

scaler = RobustScaler()
X_train[numerical_features] = scaler.fit_transform(X_train[numerical_features])
X_val[numerical_features] = scaler.transform(X_val[numerical_features])
X_final_test[numerical_features] = scaler.transform(X_final_test[numerical_features])  

# It is important to scale tain and val data separately because val is supposed to be unseen data on which we test our models. If we scale them together, data from val set will also be considered while calculating mean, median, IQR, etc

X_train[numerical_features].head()

<ipython-input-210-9d82e39531bd>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train[numerical_features] = scaler.fit_transform(X_train[numerical_features])
/home/anany/anaconda3/envs/ML/lib/python3.8/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s
<ipython-input-210-9d82e39531bd>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_val[numerical_features] = scaler.transform(X_val[numerical_features])
/home/anany/anaconda3/envs/ML/lib/python3.8/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

,b0,b1,b2,b3,b4,b5,b6,b7,b8,b9,...,b84,b85,b86,b87,b88,b90,b91,b92,b93,time
42590,-0.112957,0.0,0.0,-0.751266,0.397155,0.13,0.0,-0.310311,-0.253256,-0.469340,...,-0.132134,-0.124088,-0.794779,0.0,0.00,-0.111782,0.5,0.000000,-0.25,-0.469772
138180,-0.149502,1.7,0.0,0.661469,0.013072,0.00,0.0,1.392996,-0.368669,2.614387,...,0.860422,0.875151,0.595783,4.3,4.57,0.936007,-0.5,9.383314,0.75,0.714719
73016,-0.083056,0.0,0.0,-0.068307,-0.546328,0.00,-1.0,-0.079961,0.266160,-0.166274,...,-0.006203,-0.021129,-0.203541,0.0,0.00,-0.281516,1.0,0.000000,0.00,-0.092809
18086,-0.106312,0.0,0.0,-0.237156,-2.129566,0.00,0.0,-0.658171,-0.529185,-0.469340,...,-0.502481,-0.432219,-0.796459,0.0,0.00,-0.319143,-1.0,0.000000,-0.50,-0.773441
137589,-0.215947,0.0,0.0,-0.053835,0.520569,0.00,-1.0,0.527237,0.530994,1.172170,...,0.137717,0.100482,0.203297,0.0,0.00,-0.207910,0.5,0.000000,-0.25,0.707347

In [212]:
from sklearn.linear_model import LinearRegression 
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
regr1 = LinearRegression()
regr2 = DecisionTreeRegressor() 
regr3 = RandomForestRegressor() 
  
regr2.fit(X_train, y_train) 
print(regr2.score(X_val, y_val)*100)

96.92596341611085

In [182]:
regr2.predict(X_final_test)

array([22.80497408, 25.04572298, 35.36023303, ..., 37.93798491,
       36.34606567, 20.05028706])